.page {
    // .page__about-hero-block
    &__about-hero-block {
    }
    // .page__brands
    &__brands {
    }
    // .page__information
    &__information {
    }
    // .page__what-we-do
    &__what-we-do {
    }
}



.about__hero-block {
    background: linear-gradient(247.11deg, #E3E7F6 3.56%, rgba(227, 231, 246, 0) 115.17%);
    .hero-block {
        // .hero-block__content
        &__content {
            flex: 0 1 rem(397);
            @include adaptiveValue("padding-top",289,100);
            @include adaptiveValue("padding-bottom",212,340,992,700,1);
            @media (max-width: 700px){
                flex-basis: 100%;
            }
        }
        // .hero-block__title
        &__title {
        }
        // .hero-block__text
        &__text {
            
        }
        // .hero-block__button
        &__button {
        }
        // .hero-block__img
        &__img {
            @include adaptiveValue("width",638,310);
            right: 0;
            img {
                bottom: 2%;
            }
        }
    }
}


.brands {
    // .brands__container
    &__container {
    }
    // .brands__stats
    &__stats {
    }
}
.stats-brands {
    @include adaptiveValue("margin-top",145, 30);
    @include adaptiveValue("padding-left",50,0,1118,480,1);
    @include adaptiveValue("padding-right",50,0,1118,480,1 );
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
    @include adaptiveValue("gap",32,15);
}
.stats-brand {
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: rem(53) 0px 0px 0px;
    // .stats-brand__value
    &__value {
        font-size: rem(56);
        line-height: math.div(62,56);
        color: $blueColor;
    }

    // .stats-brand__desc

    &__desc {
        font-size: rem(22);
        line-height: math.div(33,22);
    }

    // .stats-brand__image

    &__image {
        width: 100%;
    }
}

//====================================================================================================
.information {
    background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
    padding-top: rem(65);
    padding-bottom: rem(100);
    // .information__container
    &__container {
    }
    // .information__culture-code
    &__culture-code {
        @include adaptiveValue("margin-bottom",96,40);
    }

    // .information__who-we
    &__who-we {
    }

}
.culture-code {
    // .culture-code__title
    &__title {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    // .culture-code__subtitle

    &__subtitle {
        text-align: center;
        @include adaptiveValue("margin-bottom",100,40);
    }
    // .culture-code__list
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
        @include adaptiveValue("gap",36,20);
        align-items: flex-start;
    }
    // .culture-code__item
    &__item {
    }
}

.item-culture-code {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;
    padding: rem(40);
    @include adaptiveValue("padding",40,20,767,320,1);
    &_1 {
        padding: rem(65) rem(40);
        @media (max-width:$mobile){
            padding: rem(40);
            @include adaptiveValue("padding",40,20,767,320,1);   
        }
    }
    // .item-culture-code__item-title
    &__item-title {
        color: #3A3A3C;
        font-size: rem(28);
        line-height: math.div(31,28);
        color: #3A3A3C;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",32,20);
        }
    }
    // .item-culture-code__desc
    &__desc {
    }
}
//====================================================================================================

.block-rel {
    // .block-rel__body
    &__body {
        display: flex;
        justify-content: space-between;
        gap: rem(20);
        @media (max-width:$tablet){
            flex-wrap: wrap;
        }
    }
    // .block-rel__desc
    &__desc {
        flex: 0 1 rem(416);
        @media (max-width:$tablet){
            flex-basis: 100%;
        }
    }
    // .block-rel__title
    &__title {
    }
    // .block-rel__text
    &__text {
    }
    // .block-rel__image
    &__image {
        flex: 0 1 rem(560);
        @media (max-width:$tablet){
            flex-basis: 100%;
        }
        img {
            width: 100%;
        }
    }
}


.block-rel_who-we {
    // .block-rel__body
    .block-rel__body {
        @include adaptiveValue("padding-left", 64,0,1120,992,1);
        @include adaptiveValue("padding-right",26,0,1120,992,1);
    }
    // .block-rel__desc
    .block-rel__desc {
        @include adaptiveValue("padding-top",30,0,1120,992,1);
    }
}


//====================================================================================================
.what-we-do {
    @include adaptiveValue("padding-top",104,40);
    @include adaptiveValue("padding-bottom",121,40);
    // .what-we-do__container
    &__container {
    }

    // .what-we-do__block

    &__block {
    }
}
.block-rel_what-we-do{
    // .block-rel__body
    .block-rel__body {
        flex-direction: row-reverse;
        @include adaptiveValue("padding-left", 13,0,1120,992,1);
        @include adaptiveValue("padding-right",58,0,1120,992,1);
    }
    // .block-rel__desc
    .block-rel__desc {
        @include adaptiveValue("padding-top",100,10);
    }
}

//====================================================================================================
.page {

    // .page__about-hero-block

    &__about-hero-block {

        // .page__about-hero-block_2

        &_2 {
        }
    }
}
.about-hero-block_2 {
    @media (max-width:$tablet){
        padding-bottom: rem(40);
    }
    .block {
        
        background: linear-gradient(247.11deg, #E3E7F6 3.56%, rgba(227, 231, 246, 0) 115.17%);
        // .block__content
        &__content {
            flex-basis: rem(416);
            @include adaptiveValue("padding-top",165,60,1118,992,1);
            @include adaptiveValue("padding-bottom",411,270);
            // @media (max-width:$tablet){
            //     padding-top: rem(60);
            // }
            @media (min-width:$tablet){
                padding-bottom: rem(212);
            }
        }
        // .block__text
        &__text {
            max-width: rem(390);
            @media (max-width:$tablet){
                max-width: 100%;
            }
        }

        
        // .block__button
    
        &__button {
            position: relative;
            &::after{
                position: absolute;
                content:'';
                background-image: url(../img/about/be-the-next.svg);
                background-size: cover;
                width: rem(211);
                height: rem(58);
                left: 50%;
                bottom: -118%
            }
        }
    
        // .block__img
        &__img {
            img {
                width: rem(591);
                bottom: 17%;
                left: auto;
                right: 0;
                @include adaptiveValue("width",591,300);
                @media (max-width:$tablet){
                    transform: translateX(0);
                }
            }
        }
    }
}


//====================================================================================================
.about__hero-block_2 {
    background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
    // @media (max-width:$tablet){
    //     padding-bottom: rem(40);
    // }
    .hero-block {
        // .hero-block__content
        &__content {
            flex: 0 1 rem(480);
            @include adaptiveValue("padding-left",64,0,1120,992,1);
            @include adaptiveValue("padding-top",155,50);
            @include adaptiveValue("padding-bottom",212,340,992,700,1);
            // @media (max-width: 700px){
            //     flex-basis: 100%;
            // }
        }
        // .hero-block__title
        &__title {
        }
        // .hero-block__text
        &__text {
            
        }
        // .hero-block__button
        &__button {
            position: relative;
            &::after{
                position: absolute;
                content:'';
                background-image: url(../img/about/be-the-next.svg);
                background-size: cover;
                width: rem(211);
                height: rem(58);
                left: 50%;
                bottom: -118%
            }
        }
        // .hero-block__img
        &__img {
            @include adaptiveValue("width",591,310);
            right: 0;
            img {
                @include adaptiveValue("bottom",157,30,1150,800,1);
            }
        }
    }
}
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================
