.page {
    // .page__career
    &__career {
    }
}

//====================================================================================================
.career {

    // .career__offer
    &__offer {
    }
}
//====================================================================================================
.career__hero-block {
    background: linear-gradient(253.65deg, #E3E7F6 -0.59%, rgba(227, 231, 246, 0) 98.74%);
    .hero-block {
        // .hero-block__content
        &__content {
            flex: 0 1 rem(598);
            @include adaptiveValue("padding-top",278,100);
            @include adaptiveValue("padding-bottom",228,230);
            @media (max-width: 850px){
                flex-basis: 100%;
            }
        }
        // .hero-block__title
        &__title {
            @include adaptiveValue("margin-bottom",40, 25);
        }
        // .hero-block__text
        &__text {
            
        }
        // .hero-block__button
        &__button {
        }
        // .hero-block__img
        &__img {
            @include adaptiveValue("width",650,310);
            right: -11%;
            @media (max-width:1350px) {
                right: 0;
            }
        }
    }
}


//====================================================================================================

.offer-career {
    @include adaptiveValue("padding-top",125,35);
    @include adaptiveValue("padding-bottom",42,25);
    // .offer-career__container
    &__container {
    }

    // .offer-career__title

    &__title {
        text-align: center;
    }

    // .offer-career__subtitle

    &__subtitle {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",109,30);;
        }
    }

    // .offer-career__list

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(320), 1fr));
        // gap: rem(35);
        @include adaptiveValue("gap",35,15);
    }

    // .offer-career__card
    &__card {
    }
}

.card-offer-career {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;
    padding: rem(40);
    // .card-offer-career__header
    &__header {
        display: inline-flex;
        align-items: center;
        gap: rem(10);
        margin-bottom: rem(32);
    }

    // .card-offer-career__icon

    &__icon {
        width: rem(44);
        height: rem(44);
    }

    // .card-offer-career__title

    &__title {
        color: #3A3A3C;
        font-size: rem(28);
        line-height: math.div(31,28);
    }

    // .card-offer-career__text

    &__text {
    }
}


//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================



//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================
