.page {
    // .page__career
    &__career {
    }
    // .career__join
    &__join {
    }
}

//====================================================================================================
.career {
    // .career__offer
    &__offer {
    }
    // .career__life
    &__life {
    }
    // .career__recommend
    &__recommend {
        @include adaptiveValue("padding-top",56,30);
    }
}

//====================================================================================================
.career__hero-block {
    background: linear-gradient(253.65deg, #E3E7F6 -0.59%, rgba(227, 231, 246, 0) 98.74%);
    .hero-block {
        // .hero-block__content
        &__content {
            flex: 0 1 rem(598);
            @include adaptiveValue("padding-top",278,100);
            @include adaptiveValue("padding-bottom",228,230);
            @media (max-width: 850px){
                flex-basis: 100%;
            }
        }
        // .hero-block__title
        &__title {
            @include adaptiveValue("margin-bottom",40, 25);
        }
        // .hero-block__text
        &__text {
            
        }
        // .hero-block__button
        &__button {
        }
        // .hero-block__img
        &__img {
            @include adaptiveValue("width",650,310);
            right: -11%;
            @media (max-width:1350px) {
                right: 0;
            }
        }
    }
}


//====================================================================================================

.offer-career {
    @include adaptiveValue("padding-top",125,35);
    @include adaptiveValue("padding-bottom",42,25);
    // .offer-career__container
    &__container {
    }

    // .offer-career__title

    &__title {
        text-align: center;
    }

    // .offer-career__subtitle

    &__subtitle {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",109,30);;
        }
    }

    // .offer-career__list

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
        // gap: rem(35);
        @include adaptiveValue("gap",35,15);
    }

    // .offer-career__card
    &__card {
    }
}

.card-offer-career {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;
    padding: rem(40);
    // .card-offer-career__header
    &__header {
        display: inline-flex;
        align-items: center;
        gap: rem(10);
        margin-bottom: rem(32);
    }

    // .card-offer-career__icon
    &__icon {
        width: rem(44);
        height: rem(44);
    }

    // .card-offer-career__title
    &__title {
        color: #3A3A3C;
        font-size: rem(28);
        line-height: math.div(31,28);
    }

    // .card-offer-career__text
    &__text {
    }
}
//====================================================================================================

.life-career {
    background: linear-gradient(270.76deg, #E3E7F6 -55.5%, rgba(227, 231, 246, 0) 145.36%);
    @include adaptiveValue("padding-top",65,20);
    @include adaptiveValue("padding-bottom",51,20);
    
    // .life-career__container
    &__container {
    }

    // .life-career__body
    &__body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(30);
        row-gap: rem(3);
        @media (max-width:$mobile){
            grid-template-columns: 1fr;
            @include adaptiveValue("gap",30,15);
        }
    }

    // .life-career__desc
    &__desc {
        max-width: rem(323);
        @include adaptiveValue("padding-top",98,20);
        @include adaptiveValue("padding-bottom",127,20);
        @media (max-width:$mobile){
            max-width: 100%;
        }
    }

    // .life-career__title
    &__title {
    }

    // .life-career__text
    &__text {
    }

    // .life-career__img
    &__img {
        &:last-child {
            align-self: flex-end;
        }
        img {
            width: 100%;
            border-radius: 8px;
        }
    }
}

//====================================================================================================


.recommend-career {
    background: #F7F8FF;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;
    padding-top: rem(35);
    padding-bottom: rem(35);
    @include adaptiveValue("padding-left",68,20);
    @include adaptiveValue("padding-right",68, 20);
    display: flex;
    justify-content: space-between;
    @media (max-width:$tablet){
        flex-wrap: wrap;
        gap: rem(30);
    }
    // .recommend-career__stats
    &__stats {
        display: flex;
        align-items: center;
        gap: rem(27);
        flex: 0 1 rem(482);
        @media (max-width:$tablet){
            flex-basis: 100%;
        }
        @media (max-width:$mobile){
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
        }
    }
    // .recommend-career__info
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 0 1 rem(346);
        gap: rem(5);
        @media (max-width:$tablet){
            flex-basis: 100%;
        }
    }
    // .recommend-career__icon
    &__icon {
        flex: 0 0 rem(109);
        height: rem(109);
    }
    // .recommend-career__title

    &__title {
        @include adaptiveValue("font-size",36,27);
        line-height: math.div(48, 36);
        font-weight: bold;
        color: $blueColor;
        @media (max-width:$tablet){
            text-align: center;
        }
    }
    // .recommend-career__rating
    &__rating {
    }

    // .recommend-career__glassdor

    &__glassdor {
        width: rem(180);
        height: rem(36);
    }

    // .recommend-career__link
    &__link {
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        color: #424B5A;
        
        gap: rem(7);
        span {
            text-decoration: underline;
            font-size: rem(17);
            line-height: math.div(24,18);
        }
        &::before{
            font-size: rem(14);
        }
    }
}


//====================================================================================================



.rating {
    display: flex;
	align-items: center;
    gap: rem(4);

    // .rating__value
    &__value {
        font-size: rem(36);
        line-height: math.div(62,36);
        color: #000;
        font-weight: 700;
    }

    // .rating__body

    &__body {
        position: relative;
        &::before {
            content: "";
            background: url('@img/career/rating/rating.svg');
            width: rem(179);
            height: rem(35);
            display: block;
        }
    }
    // .rating__items
    &__items {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    // .rating__item

    &__item {
        flex: 0 0 20%;
        height: 100%;
        opacity: 0;
    }
}


//====================================================================================================

.join-career {
    @include adaptiveValue("padding-top",56,30);
    @include adaptiveValue("padding-bottom",45,30);
    // .join-career__container
    &__container {
    }

    // .join-career__title

    &__title {
        text-align: center;
    }

    // .join-career__subtitle
    &__subtitle {
        text-align: center;
        @include adaptiveValue("margin-bottom",100,30);
    }

    // .join-career__body

    &__body {
        
    }

    // .join-career__list

    &__list {
        @include adaptiveValue("margin-bottom",68,30);
        display: grid;
        @include adaptiveValue("gap",30,15);
        @media (max-width:$tablet){
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        }
    }

    // .join-career__item

    &__item {
    }
    
	// .join-career__footer
	&__footer {
        display: flex;
        justify-content: center;
	}

    //.join-career__button-more
    &__button {

    }
}

.item-join-career {
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 17px 35px rgba(22, 23, 72, 0.05);
    border-radius: 8px;
    padding-top: rem(35);
    padding-bottom: rem(35);
    @include adaptiveValue("padding-left",60,20);
    @include adaptiveValue("padding-right",60,20);
    display: flex;
    gap: rem(29);
    align-items: center;
    @media (max-width:$tablet){
        flex-direction: column;
    }
    // .item-join-career__info
    &__info {
        flex: 1 1 auto;
        @media (max-width:$tablet){
            text-align: center;
        }
    }

    // .item-join-career__title
    &__title {
        @include adaptiveValue("font-size",28,24);
        line-height: math.div(27,28);
        margin-bottom: rem(24);
    }

    // .item-join-career__desc
    &__desc {
        display: inline-flex;
        gap: rem(25);
    }

    // .item-join-career__desc-item

    &__desc-item {
        display: flex;
        align-items: center;
        gap: rem(6);
    }

    // .item-join-career__details

    &__details {
        flex: 0 0 rem(150);
        @media (max-width:$tablet){
            flex-basis: auto;
        }
    }

    // .item-join-career__button

    &__button {
        padding-left: rem(25);
        padding-right: rem(25);
    }
}



//====================================================================================================
//====================================================================================================



//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================
