.page {
    // .page__career
    &__career {
    }
}
//====================================================================================================
.career__hero-block {
    background: linear-gradient(253.65deg, #E3E7F6 -0.59%, rgba(227, 231, 246, 0) 98.74%);
    .hero-block {
        background: linear-gradient(253.65deg, #E3E7F6 -0.59%, rgba(227, 231, 246, 0) 98.74%);
        // .hero-block__content
        &__content {
            flex: 0 1 rem(598);
            @include adaptiveValue("padding-top",278,100);
            @include adaptiveValue("padding-bottom",228,230);
            @media (max-width: 850px){
                flex-basis: 100%;
            }
        }
        // .hero-block__title
        &__title {
            @include adaptiveValue("margin-bottom",40, 25);
        }
        // .hero-block__text
        &__text {
            
        }
        // .hero-block__button
        &__button {
        }
        // .hero-block__img
        &__img {
            @include adaptiveValue("width",650,310);
            right: -11%;
            @media (max-width:1350px) {
                right: 0;
            }
        }
    }
}








//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================



//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================

//====================================================================================================
//====================================================================================================
