// Заголовки, общие БЄМ блоки и проче...
.button {
    text-align: center;
    display: inline-block;
    font-size: rem(16);
    line-height: math.div(24, 16);
    letter-spacing: 0.005em;
    padding: rem(14) rem(32);
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid $redColor;
    color: $redColor;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &--bg-red {
        color: #fff;
        background-color: $redColor;
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: #e90537;
            color: #fff;
        }
    }
}

.title {
    font-weight: 700;
    @include adaptiveValue("font-size",44,28);
    line-height: math.div(57,44);
    color: $blueColor;
    span {
        color: $redColor;
    }
}
.title_hero {
}

.block {
    position: relative;
    overflow: hidden;
    background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
    // .block__container
    &__container {
        display: flex;
        justify-content: space-between;
        @media (max-width:$tablet){
            flex-direction: column;
        }
    }
    // .block__content
    &__content {
        flex: 0 1 rem(363);
        @include adaptiveValue("padding-top",229,100);
        @include adaptiveValue("padding-bottom",596,300);
        @media (min-width:$tablet){
            padding-bottom: rem(210);
        }
    }
    // .block__title
    &__title {
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    // .block__text
    &__text {
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    // .block__buttons
	&__buttons {
        display: flex;
        gap: rem(8);
        @media (max-width:$mobileSmall){
            flex-direction: column; 
        }
	}
	// .block__button
	&__button {
	}
    &__button {
    }
    // .block__img
    &__img {
        position: relative;
        flex: 0 1 50%;
        img {
            position: absolute;
            width: rem(847);
            @include adaptiveValue("width",847,400);
            bottom: 0;
            left: -24%;
            @media (max-width:$tablet){
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
