//====================================================================================================
.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	transition: transform 0.3s ease 0s;
	._scroll-header & {
		transform: translateY(-100%);
		transition: all 0.3s ease 0s;
	}
	._fixed-header & {
		transform: translateY(0);
		background-color: rgba(255, 255, 255, 0.945);
		transition: all 0.3s ease 0s;
	}
	@media (max-width:$tablet){
		.menu-open & {
			height: 100%;;
		}
	}
	
	// .header__container
	&__container {
		min-width: rem(300);
		min-height: rem(100);
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: rem(10);
		@media (max-width:$mobileSmall) {
			min-height: rem(80); 
		}
	}
	// .header__logo
	&__logo {
		padding-left: rem(10);
		@media (max-width:$tablet) {
			position: relative;
			z-index: 30;
		}
		@media (max-width:$mobileSmall) {
			padding-left: 0;
			width: rem(56);
			overflow: hidden;
		}
		img {
			@media (max-width:$mobileSmall) {
				width: rem(220);
			}
		}
	}

	// .header__menu
	&__menu {
	}
}

.menu {
	display: flex;
	align-items: center;
	// .menu__body
	&__body {
		@media (max-width:$tablet) {
			position: fixed;
			top: 0;
			width: 100%;
			height: 100%;
			left: -100%;
			background-color: #fff;
			transition: left 0.3s ease 0s;
			padding: rem(70) rem(10) rem(10);
			overflow: auto;
		}
		.menu-open & {
			left: 0;
		}
	}

	// .menu__list
	&__list {
		display: flex;
		@include adaptiveValue("gap",60,30);
		@media (max-width:$tablet) {
			flex-direction: column;
			align-items: center;
		}
	}

	// .menu__item
	&__item {
	}

	// .menu__link
	&__link {
		font-size: rem(18);
		line-height: math.div(22,18);
		color: #646A89;
		position: relative;
		&::after {
			content:'';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 100%;
			max-width: 0;
			background-color: $redColor;
			transition: max-width 0.3s ease 0s;
		}
		&.hover {
			&::after {
				max-width: 100%;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					max-width: 100%;
				}
			}
		}
		@media (max-width:$tablet) {
			font-size: rem(25);
			padding: rem(10) 0;
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	// .menu__button
	&__button {
		margin: 0px 0px 0px rem(30);
		@media (max-width:$tablet) {
			margin: 0 rem(15) 0 0;
		}
	}

	// .menu__icon
	&__icon {
	}
}

//====================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: 40px;
		height: 40px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 3px;
			border-radius: 3px;
			background-color: $blueColor;
		}
		&::before {
			top: 8px;
		}
		&::after {
			bottom: 8px;
		}
		span {
			top: calc(50% - 1px);
		}
		@media (max-width:$tablet){
			.menu-open & {
				span {
					transform: scale(0);
				}
				&::before {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&::after {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
		
	}
}