.hero {
    background-image: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
    
    // .hero__container
    &__container {
        padding-bottom: rem(210);
        @include adaptiveValue("padding-top",230, 130);
        @include adaptiveValue("padding-bottom",410,235,768,320,1);
        position: relative;
    }

    // .hero__body
    &__body {
        max-width: rem(570);
        position: relative;
        z-index: 2;
    }

    // .hero__title

    &__title {
        @include adaptiveValue("font-size",48,33);
        line-height: math.div(62,48);
        color: $blueColor;
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

    // .hero__text

    &__text {
        @include adaptiveValue("font-size",22,18);
        line-height: math.div(33,22);
        &:not(:last-child) {
            margin-bottom: rem(40);
        }
    }

    // .hero__buttons
    &__buttons {
        display: flex;
        gap: rem(16);
        @media (max-width: rem(400)) {
            flex-direction: column;
        }
    }

    // .hero__button
    &__button {
    }

	// .hero__image
	&__image {
        @include adaptiveValue("width",847,300,1118,320,1 );
        position: absolute;
        bottom: 0;
        right: -15%;
        z-index: 0;
        @media (max-width:$mobile){
            right: 0;
        }
	}


}
