//====================================================================================================
.home {
    // .home__hero-block
    &__hero-block {
    }
    // .home__info
    &__info {
    }
    // .home__line-products
    &__line-products {
    }
    // .home__innovation
    &__innovation {
    }
    // .home__join-block
    &__join-block {
    }
}

//====================================================================================================
.home__hero-block {
    background: linear-gradient(252.91deg, #E3E7F6 3.68%, rgba(227, 231, 246, 0) 97.82%);
    .hero-block {
        // .hero-block__content
        &__content {
            flex: 0 1 rem(570);
            @include adaptiveValue("padding-top",229,100);
            @include adaptiveValue("padding-bottom",210,300);
            @media (max-width:$tablet){
                @include adaptiveValue("padding-bottom",400,340);
            }
            @media (max-width: 755px){
                flex-basis: 100%;
            }
        }
        // .hero-block__title
        &__title {
            @include adaptiveValue("margin-bottom",32, 25);
        }
        // .hero-block__text
        &__text {
            
        }
        // .hero-block__button
        &__button {
        }
        // .hero-block__img
        &__img {
            @include adaptiveValue("width",847,410);
            right: -14%;
            @media (max-width:$tablet){
                right: -12%;
            }
        }
    }
}

//====================================================================================================

.line-products {
    border-top: 1px solid rgba(197, 203, 226, 0.5);
    @include adaptiveValue("padding-top",105,30);
    @include adaptiveValue("padding-bottom",100,30);
    // .line-products__container

    &__container {
    }

    // .line-products__title

    &__title {
        text-align: center;
    }

    // .line-products__subtitle

    &__subtitle {
        text-align: center;
        @include adaptiveValue("margin-bottom",97,40);
    }

    // .line-products__cards

    &__cards {
        display: flex;
        @include adaptiveValue("gap",32,15,991,320,1);
        @media (max-width:$tablet){
            flex-direction: column;
        }
    }
}

.card {
    flex: 0 1 50%;
    box-shadow: 0 0 rem(8) rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.08);
    border-radius: rem(8);
    position: relative;
    padding-bottom: rem(217);
    min-height: rem(530);
    overflow: hidden;
    @media (max-width:$tablet){
        padding-bottom: rem(40);
        min-height: auto;
    }
    @media (max-width:$mobile){
        padding-bottom: rem(142);
    }
    @media (max-width:$mobileSmall){
        padding-bottom: rem(132);
    }

	// .card__inner
	&__inner {
        padding: rem(64) rem(64) 0;
        @media (max-width:$tablet){
            padding: rem(45) rem(45) 0;
        }
        @media (max-width:$mobile){
            padding: rem(30) rem(30) 0;
        }
        @media (max-width:$mobileSmall){
            padding: rem(15) rem(15) 0;
        }
	}


    // .card__image

    &__image {
        display: inline-block;
        margin-bottom: rem(31);
    }

    // .card__desc

    &__desc {
        max-width: rem(352);
        font-size: rem(24);
        line-height: math.div(31,24);
        font-size: 24px;
        color: #3A3A3C;
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

    // .card__block
    &__block {
    }

    // .card__block-content

    &__block-content {
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

    // .card__button

    &__button {
        width: rem(140);
        font-size: rem(14);
        line-height: math.div(21,14);
        padding: rem(12) rem(13);
        margin-left: rem(5);
        display: flex;
        align-items: center;
        gap: rem(8);
        &::before {
            transition: transform 0.3s ease 0s;
            ._showmore-active & { 
                transform: rotate(-90deg);
            }
            
        }
    }

	// .card__bg-ibg
	&__bg-ibg {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-bottom: percent(264,538);
        @media (max-width:$tablet){
            left: auto;
            right: 0;
            width: 54%;
            @include adaptiveValue("padding-bottom",230,198,992,768,1 );
        }
        @media (max-width:$mobile){
            width: 80%; 
            @include adaptiveValue("padding-bottom",230,134,768,320,1 );
        }
        @media (max-width:$mobileSmall){
            width: 100%; 
        }
    
	}


}

//====================================================================================================
.home-info__hero-block {
    background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
    .hero-block {
        // .hero-block__content
        &__content {
            flex: 0 1 rem(430);
            @include adaptiveValue("padding-top",262,100);
            @include adaptiveValue("padding-bottom",328,300);
            @media (max-width:$tablet){
                @include adaptiveValue("padding-top",100,40);
                
                @include adaptiveValue("padding-bottom",400,340);
            }
            @media (max-width: 650px){
                flex-basis: 100%;
            }
        }
        // .hero-block__title
        &__title {
            @include adaptiveValue("font-size",44,24);
            line-height: math.div(57,44);
            @include adaptiveValue("margin-bottom",32, 25);
        }
        // .hero-block__text
        &__text {
            font-size: rem(16);
            line-height: math.div(27,16);
        }
        // .hero-block__button
        &__button {
        }
        // .hero-block__img
        &__img {
            @include adaptiveValue("width",559,300);
            right: -4%;
            @media (max-width:1255px) {
                right: 3%;
            }
            img {
                bottom: 16%;
                @media (max-width:$tablet){
                    bottom: 3%;
                }
            }
        }
    }
}

//====================================================================================================
.info {
    background: linear-gradient(268.52deg, #E3E7F6 -52.27%, rgba(227, 231, 246, 0) 138.23%);
    @include adaptiveValue("padding-top",80,30);
    @include adaptiveValue("padding-bottom",65,30);
    position: relative;
    // .info__container
    &__container {
        display: flex;
        align-items: center;
        @media (max-width:$tablet) {
            flex-direction: column;
        }
    }

    // .info__content

    &__content {
        flex: 0 1 50%;
    }

    // .info__inner

    &__inner {
        max-width: rem(430);
        @media (max-width:$tablet){
            max-width: 100%;
            padding-bottom: rem(30);
        }
    }

    // .info__title
    &__title {
        text-align: left;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        @media (max-width:$tablet){
            text-align: center;
        }
    }

    // .info__text
    &__text {
        @media (max-width:$tablet){
            text-align: center;
        }
    }

    //.info__image-ibg
    &__image-ibg {
        flex: 0 1 50%;
        padding-bottom: percent(558,1118);
        @media (max-width:$tablet){
            width: 80%;
        }
        @media (max-width:$mobile){
            width: 100%;
            padding-bottom: 65%;
        }
        @media (max-width:$mobileSmall){
            padding-bottom: 95%;
        }
        img {
            object-fit: contain;
        }
    }
}
//====================================================================================================

.innovation {
    @include adaptiveValue("padding-top",125,30);
    padding-bottom: rem(30);
    // .innovation__container

    &__container {
    }

    // .innovation__title

    &__title {
        text-align: center;
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    // .innovation__subtitle
    &__subtitle {
        text-align: center;
    }

    // .innovation__slider
    &__slider {
        @include adaptiveValue("padding-top",110,30);
    }

    // .innovation__swiper

    &__swiper {
        padding-bottom: rem(45);
    }

    // .innovation__slide

    &__slide {
        min-width: rem(256);
        height: rem(119);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 8px rgba(22, 23, 72, 0.07), 0px 25px 35px rgba(22, 23, 72, 0.05);
        border-radius: rem(8);
    }

     // .innovation__slider-nav
    &__slider-nav {
        display: flex;
        align-items: center;
        .swiper-button-disabled {
            color: #C2D1D9;
        }
    }

    // .innovation__slider-item

    &__slider-item {
        width: rem(24);
        height: rem(24);
        color: #424B5A;
        // .innovation__slider-item_prev
        &_prev {
            margin: 0px rem(8) 0px 0px;
        }
        // .innovation__slider-item_next
        &_next {
            
        }

    }
}
//====================================================================================================

//====================================================================================================
.home-join__hero-block {
    background: linear-gradient(335.73deg, #E3E7F6 12.46%, rgba(227, 231, 246, 0) 84.19%);
    .hero-block {
        // .hero-block__content
        &__content {
            flex: 0 1 rem(380);
            @include adaptiveValue("padding-top",217,35);
            @include adaptiveValue("padding-bottom",242,300);
            @media (max-width:$tablet){
                @include adaptiveValue("padding-bottom",400,340);
            }
            @media (max-width: 755px){
                flex-basis: 100%;
            }
        }
        // .hero-block__title
        &__title {
            @include adaptiveValue("margin-bottom",32, 25);
        }
        // .hero-block__text
        &__text {
        }
        // .hero-block__button
        &__button {
        }
        // .hero-block__img
        &__img {
            @include adaptiveValue("width",523,310);
            right: 1%;
            @media (max-width:$tablet){
                right: 3%;
            }
            img {
                // bottom: 12%;
                @include adaptiveValue("bottom",110,30);
            }
        }
    }
}
